
<body style="background-color: #6b0504; color:#d69f7e; font-family: 'Amarante'">
<header>

  <!-- Sub Navigation -->
<!--  <div class="top-bar" style="background-color: #3c0000";>
    <div class="top-bar-left">
      <ul class="menu" style="background-color: #3c0000; font-family: 'Nosifer', cursive;">
        <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
        <li><a href="#" style="color:#d69f7e">Pyschos & Freaks</a></li>
        <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu" style="background-color: #3c0000; font-family: 'Nosifer', cursive;">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button" style="background-color:#d69f7e; color:#3c0000; font-family: 'Nosifer', cursive;">Search</button></li>
      </ul>
    </div>
  </div> -->
  <!-- /Sub Navigation -->

  <!-- logo and ad break -->
  <br>

  <article class="grid-container" style="background-color: #6b0504;">
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <img src="images/shawndead.jpg" alt="company logo" style="border: 2px solid #774936;">
      </div>
      <div class="medium-8 cell">
        <img src="images/logo.png" alt="advertisement for deep fried Twinkies">
      </div>
    </div>
  </article>
  <!-- / logo and ad break -->

  <br>

  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar align-center" id="main-menu" style="background-color: #3c0000";>
    <ul class="menu vertical medium-horizontal medium-text-center" data-responsive-menu="drilldown medium-dropdown" style="background-color: #3c0000";>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">American/Canadian</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">Korean</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">Japanese</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">Australian</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">Thai</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
      <li class="has-submenu"><a href="#" style="color:#d69f7e; font-family: 'Nosifer', cursive;">Filipino</a>
        <ul class="submenu menu vertical" data-submenu style="background-color:#3c0000">
          <li><a href="#" style="color:#d69f7e">Supernatural</a></li>
          <li><a href="#" style="color:#d69f7e">Psychos</a></li>
          <li><a href="#" style="color:#d69f7e">Hilarious</a></li>
        </ul>
      </li>
    </ul>
  </div>

</header>

<br>
<article class="grid-container" style="background-color: #6b0504;">
  <div class="grid-x grid-margin-x">
    <div class="medium-8 cell">
      <p><img src="images/cabininwoods.png" alt="main article image" style="border: 2px solid #774936;"></p>
    </div>
    <div class="medium-4 cell">
      <p><img src="images/triangle_szd.jpg" alt="article promo image" alt="advertisement for deep fried Twinkies" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></p>
      <p><img src="images/clubdread.jpg" alt="article promo image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></p>
    </div>
  </div>


<hr style="height:1px; border:none; background-color:#d69f7e;">

<div class="text-center">
  <h4 style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive; border-bottom=0;" class="text-center">REVIEWS IN THE NEWS</h4>
</div>

<hr style="height:1px; border:none; background-color:#d69f7e;">
<article class="grid-container" style="background-color: #6b0504;">
  <div class="grid-x grid-margin-x small-up-3 medium-up-4 large-up-5">

    <div class="cell">
      <a href="https://en.wikipedia.org/wiki/A_Girl_Walks_Home_Alone_at_Night"><img src="images/agirl.jpg" alt="image for article" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a>
    </div>

    <div class="cell">
      <a href="https://en.wikipedia.org/wiki/Audition_(1999_film)"><img src="images/audition.jpg" alt="image for article" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a>
    </div>

    <div class="cell">
      <a href="https://en.wikipedia.org/wiki/To_Sir,_with_Love_(2006_film)"><img src="images/bloodyreunion.jpg" alt="image for article" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a>
    </div>

    <div class="cell show-for-medium">
      <a href="https://en.wikipedia.org/wiki/High_Tension"><img src="images/hautetension.jpg" alt="image for article" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a>
    </div>

    <div class="cell show-for-large">
      <a href="https://en.wikipedia.org/wiki/Hush_(2016_film)"><img src="images/hush.jpg" alt="image for article" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a>
    </div>

  </div>
</article>
<hr style="height:1px; border:none; background-color:#d69f7e;">

<div class="text-center">
  <h4 style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive;" class="text-center">RECENT REVIEWS</h4>
</div>

<hr style="height:1px; border:none; background-color:#d69f7e;">

<div class="grid-x grid-margin-x">
  <div class="large-8 cell" style="border-right: 1px solid #d69f7e;">


    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/Housebound"><img src="images/housebound.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/Housebound" style="color:#ffffff;"><em style="color:#ffffff;">Housebound</em> : <br> A Kiwi gem</a></h4>
        <p style="font-family: 'Amarante', cursive;">
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">The medulla voodoo locus flesh eater, lateral suscitat mortuos braaaains comedere carnem colliculus virus. Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave et serpens. </p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/Ghost_of_Mae_Nak"><img src="images/ghostmaenak.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/Ghost_of_Mae_Nak" style="color:#ffffff;"><em style="color:#ffffff;">The Ghost of Mae Nak</em> : <br> Thai yourself down and watch it</em></a></h4>
        <p>
          <span><i class="fi-torso" style="color:#000000;"> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">Qui optic gland animated corpse, brains bat substantia max brucks spinal cord terribilem incessu brains zomby. Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave et serpens. </p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/Cinderella_(2006_film)"><img src="images/cinderella.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/Cinderella_(2006_film)" style="color:#ffffff";><em style="color:#ffffff;">Cinderella</em> : <br> A Korean fairy tale</a></h4>
        <p>
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">Zombie ipsum brains ab cerebellum viral inferno, brein nam mend grimes malum cerveau cerebro. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife.</p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/Dark_Water_(2002_film)"><img src="images/darkwater.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/Dark_Water_(2002_film)" style="color:#ffffff"><em style="color:#ffffff;">Dark Water</em> : <br> A Mother's creepy love</a></h4>
        <p>
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">Alii missing oculis aliorum sicut serpere crabs nostram. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia?</p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/28_Days_Later"><img src="images/28dayslater.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/28_Days_Later" style="color:#ffffff"><em style="color:#ffffff;">28 Days Later</em> :<br>The end is <em style="color:#ffffff;">extremely</em> fucking nigh</a></h4>
        <p style="font-family: 'Amarante', cursive;">
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">De braaaiiiins apocalypsi George Romero prefrontal cortex undead fornix dictum mauris. Romero morbo Congress humanamarus in auras.Nihil horum sagittis tincidunt, zombie slack-jawed gelida survival portenta.</p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/Halloween_(1978_film)"><img src="images/halloween.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/Halloween_(1978_film)" style="color:#ffffff"><em style="color:#ffffff;">Halloween</em> : <br> The gold standard in suspense</a></h4>
        <p>
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">Brains mindless mortuis cortex creaturas, evil braaiinns monstra dentevil vultus brain comedat soulless cerebella pitiutary gland viventium. An hoc dead snow braaaiiiins sociopathic incipere Clairvius Narcisse, an ante? </p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <p><a href="https://en.wikipedia.org/wiki/John_Dies_at_the_End_(film)"><img src="images/johndies.jpg" alt="image for article" alt="article preview image" style="padding: 1px; border: 1px solid #774936; background-color:#050609;"></a></p>
      </div>
      <div class="large-6 cell">
        <h4 style="font-family: 'Amarante', cursive;"><a href="https://en.wikipedia.org/wiki/John_Dies_at_the_End_(film)" style="color:#ffffff"><em style="color:#ffffff;">John Dies at the End</em> :<br> David Wong, I love you</a></h4>
        <p>
          <span><i class="fi-torso" style="color:#000000";> By thefifthdentist &nbsp;&nbsp;</i></span>
          <span><i class="fi-calendar" style="color:#000000";> 11/23/16 &nbsp;&nbsp;</i></span>
          <span><i class="fi-comments" style="color:#000000";> 6 comments</i></span>
        </p>
        <p style="font-family: 'Josefin+Sans'; color:#d69f7e;">Nescio brains Undead cervello zombies. Sicut malus putrid brains voodoo horror. Nigh basal ganglia of the living dead. Expansis creepy arm yof darkness ulnis witchcraft missing carnem armis.</p>
      </div>
    </div>

    <hr style="height:1px; border:none; background-color:#d69f7e;">

    <ul class="pagination margin-bottom-2" role="navigation" aria-label="Pagination" style="font-family: 'Nosifer'";>
      <li class="disabled">Previous <span class="show-for-sr">page</span></li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    </ul>

  </div>
  <div class="grid-x large-4 cell">

    <aside>

      <div class="grid-x cell">
        <p class="lead" style="color:#d69f7e; font-family: 'Nosifer', cursive;">FROM OUR FRIENDS</p>
        <p><a href="http://adultswim.com"><img src="images/vbros_adultswim.png" alt="advertisement of ShamWow"></a></p>
      </div>

      <br>

      <div class="grid-x cell">
        <p class="lead" style="color:#d69f7e; font-family: 'Nosifer', cursive;">FROM OUR FRIENDS</p>
        <p><a href="http://shudder.com"><img src="images/shudder_ad.jpg" alt="advertisement of ShamWow"></a></p>
      </div>

      <br>

      <div class="grid-x cell">
        <p class="lead" style="font-family: 'Nosifer', cursive; color=#ffffff">OLDER POSTS</p>

        <div class="media-object">
          <div class="media-object-section">
            <a href="https://en.wikipedia.org/wiki/Alice,_Sweet_Alice"><img class="thumbnail" src= "images/alicesweetalice.jpg"></a>
          </div>
          <div class="media-object-section">
            <h4 style="font-family: 'Amarante', cursive;"><em style="color:#ffffff;"><br>Alice, Sweet Alice</em></h4>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <a href="https://en.wikipedia.org/wiki/A_Tale_of_Two_Sisters"><img class="thumbnail" src= "images/twosisters.jpg"></a>
          </div>
          <div class="media-object-section">
            <h4 style="font-family: 'Amarante', cursive;"><em style="color:#ffffff;">A Tale of Two Sisters</em></h4>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <a href="https://en.wikipedia.org/wiki/The_Shrine_(film)"><img class="thumbnail" src= "images/shrine.jpg"></a>
          </div>
          <div class="media-object-section">
            <h4 style="font-family: 'Amarante', cursive;"><em style="color:#ffffff;"><br>THE SHRINE</em></h4>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <a href="https://en.wikipedia.org/wiki/The_Human_Centipede_(First_Sequence)"><img class="thumbnail" src= "images/humancentipede.jpg"></a>
          </div>
          <div class="media-object-section">
            <h4 style="font-family: 'Amarante', cursive;"><em style="color:#ffffff;">The Human Centipede</em></h4>
          </div>
        </div>

      </div>

    </aside>

  </div>
</div>
</article>
