  <!-- <% flash.keys.each do |type| %>
    <div class="flash <%= type %>">
      <%= flash[type] %>
      <a class="close-button" href="#">x</a>
    </div>
  <% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if session[:user_id] %> -->

      <!-- only show this code when signed in -->

      <!-- clicking on this link will hit the get "/sign-out" route -->
      <!-- <li class="nav-item" >
      <a class="nav-link" href="/profile" />Profile</a>
      </li>
      <li class="nav-item" >
      <a class="nav-link" href="/post" >Compose a post</a>
      </li>
      <li class="nav-item" >
      <a class="nav-link" href="/users" >Users</a>
      </li>
      <li class="nav-item" >
      <a class="nav-link" href="/main" >Blogs</a>
      </li>
      <li class="nav-item" >
      <a class="nav-link" href="/settings" >Settings</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/sign-out" >Sign out</a>
      </li>

    <% else %> -->

      <!-- only show this code when signed out -->
<!--
    <% end %>
    </ul>

    <ul class="navbar-nav mr-auto">

    </ul> -->

  <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  <!-- </div>
</nav> -->

<%# <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> %>

  <%= yield %>

  <footer>
    <div class="grid-x grid-margin-x expanded callout secondary" style="background-color: #3c0000;">

      <div class="large-4 cell">
        <h5 style="font-family: 'Nosifer', cursive; color:#d69f7e;" id="ms">MUST-SEES</h5>
        <div class="grid-x small-up-4">
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Oldboy_(2003_film)"><img class="thumbnail" src="images/oldboy.jpg" alt="Movie Post of Oldboy"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Slither_(2006_film)"><img class="thumbnail" src="images/slither.jpg" alt="Movie Poster from the movie Slither"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Gozu"><img class="thumbnail" src="images/gozu.jpg" alt="Movie Poster from the movie Gozu"></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Fright_Night"><img class="thumbnail" src="images/frightnight.jpg" alt="Movie Poster from Fright Night"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Severance_(film)"><img class="thumbnail" src="images/severance.jpg" alt="Movie Poster from the movie Severance"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Grace_(2009_film)"><img class="thumbnail" src="images/grace.jpg" alt="Movie Poster from the Movie Grace"></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/The_Descent"><img class="thumbnail" src="images/descent.jpg" alt="Movie Poster from Descent"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Dead_Snow"><img class="thumbnail" src="images/deadsnow.jpg" alt="Movie Poster from Dead Snow"></a></div>
        </div>

      </div>

      <div class="large-4 cell">
        <h5 style="font-family: 'Nosifer', cursive; color:#d69f7e;">MINI REVIEWS</h5>
        <div class="grid-x small-up-4">
          <div class="cell"><a href="https://en.wikipedia.org/wiki/What_We_Do_in_the_Shadows"><img class="thumbnail" src="images/whatwedo.jpg" alt="Still from the film What We Do in the Shadows"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/The_Children_(2008_film)"><img class="thumbnail" src="images/children.jpg" alt="Still from the move The Children"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/The_Changeling_(film)"><img class="thumbnail" src="images/changeling.jpg" alt="image of space dog"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Timecrimes"><img class="thumbnail" src="images/timecrimes.jpg" alt="Still from the movie Timecrimes"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/The_Amityville_Horror_(1979_film)"><img class="thumbnail" src="images/amityville.jpg" alt="Still from The Amityville Horror"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Wolf_Creek_(film)"><img class="thumbnail" src="images/wolfcreek.jpg" alt="Still from Wolf Creek"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/Salvage_(2006_film)"><img class="thumbnail" src="images/salvage.jpg" alt="Still from the movie Salvage"></a></div>
          <div class="cell"><a href="https://en.wikipedia.org/wiki/One_Missed_Call_(2003_film)"><img class="thumbnail" src="images/onemissedcall.jpg" alt="Still from One Missed Call"></a></div>
        </div>

      </div>

      <div class="large-4 cell" style="font-family: 'Josefin+Sans'; color:#d69f7e;">
        <h5  style="font-family: 'Nosifer', cursive; color:#d69f7e;">RANDOM MUSINGS</h5>
        <p style="color:#d69f7e">Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. Sicut zeder apathetic malus voodoo. Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife. Qui tardius moveri, brid eof reanimator sed in magna copia sint terribiles undeath legionis. Putridi braindead odores kill and infect, aere implent left four dead.</p>
      </div>

    </div>
    <div class="grid-x grid-margin-y expanded">

      <div class="medium-6 cell">
        <ul class="menu">
          <li><a href="/deets" style="font-family: 'Nosifer', cursive; color:#d69f7e;">Legal</a></li>
          <li><a href="/deets" style="font-family: 'Nosifer', cursive; color:#d69f7e;">Partner</a></li>
          <li><a href="/deets" style="font-family: 'Nosifer', cursive; color:#d69f7e;">Explore</a></li>
        </ul>
      </div>

      <div class="medium-6 cell">
        <ul class="menu align-right">
          <li style="color:#ffffff;">Copyright © 2018 Persephone Media</li>
        </ul>
      </div>
    </div>

  </footer>

  <script src="js/app.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
  <script>
    $(document).foundation();
  </script>
  <!-- <script src="main.js"></script> -->

  </body>

  <html>
