<article class="content">
<% if session[:user_id] %>
    <h1>Create a post</h1>

  <form action="/post" method="post">
    <input type="text" name="title" id="title" placeholder="Title of Post">
    <input type="text" name="subject" id="subject" placeholder="Subject of Post">
    <input type="text" name="content" id="content" placeholder="Content of Post">
    <input type="submit" value="Post">
  </form>
<% else %>
    <h1>You have to be signed in to make any post.</h1>
    <a href="/sign-in"><button class="sign-in-button">Sign in</button></a>
<% end %>
</article>
