
    <form class="grid-container">
      <img class="text-center" style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive; border=50px;">
      <h2 style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive;">SIGN IN</h2>
      <label for="inputEmail" style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive;">EMAIL</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" style="margin: 0; color:#d69f73; font-family: 'Nosifer', cursive;">PASSWORD</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" style="margin: 50 ; color:#d69f73; font-family: 'Nosifer', cursive;"> REMEMBER
        </label>
      </div>
      <a href="/"><button class="button" type="button" style="margin: 200; color:#d69f73; font-family: 'Nosifer', cursive; background-color:#d69f7e; color:#3c0000;">SUBMIT</button></a>
    </form>
  </body>
</html>
