<h1>Thank you for signing in</h1>

Welcome to the Persephone's Horror Blog! If you're done having fun here, sign out! (We know, that means you'll never sign out. But we believe in choices around here, so there you go.)
