.fontypool {
  font-family: sans-serif, 'Nosifer', cursive, !important;
}

body {
  background-color: #6b0504 !important;
}

hr {
  color: #d69f7e;
}

.flash {
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
  }

.flash.hide {
    display: none;
  }
